body {
  background-color: #333;
  color: #666;

  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5em;
}

a img {
  border: 0 solid transparent;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #ccc;
  cursor: pointer;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
button {
  color: #333;
  font-family: 'Wire One', sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #fff;
}

.button {
  color: #333;
  font-size: 50px;
  line-height: 1em;
  text-decoration: none;
}

.button:hover {
  color: #633d3d;
  text-decoration: none;
}

.fade-in {
  opacity: 1;
  will-change: opacity;
  transition: opacity 300ms;
}

.fade-out {
  opacity: 0;
  will-change: opacity;
  transition: opacity 300ms;
}

.fade-out--long {
  opacity: 0;
  will-change: opacity;
  transition: opacity 1000ms;
}

#game-wrapper {
  position: relative;
}

#loading {
  width: 100%;
  height: 100%;
  background: #eee;
}

#loading h2 {
  margin-top: 290px;
  font-size: 80px;
  line-height: 1em;
  text-align: center;
}

#arrow-keys {
  position: absolute;
  display: none;
  width: 338px;
  top: 300px;
  left: 231px;
  opacity: 0.7;
}

#main-menu {
  text-align: center;
  background: rgba( 100, 100, 100, 0.2 );
}

#main-menu h1 {
  margin-top: 55px;
  margin-bottom: 348px;
  font-size: 120px;
  line-height: 1em;
}

#game-over-menu {
  display: none;
  background: rgba( 100, 100, 100, 0.2 );
  opacity: 0;
  text-align: center;
}

#game-over-menu .content {
  display: none;
  margin: 0 auto;
  width: 400px;
  height: 550px;
  background: rgba( 240, 240, 240, 0.7 );
  opacity: 0;
}

#game-over-menu #score {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 120px;
  line-height: 1em;
}

#game-over-menu #score #L {
  font-size: 60px;
}

#game-over-menu #high-score {
  margin-top: -20px;
  margin-bottom: 230px;
  font-size: 30px;
  line-height: 1em;
}

#game-over-menu #high-score #L {
  font-size: 20px;
}

#game-over-menu #next-level {
  font-size: 20px;
  line-height: 1em;
}

#hud {
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
}

#hud #score {
  float: left;
  margin: 20px 0 0 20px;
  font-size: 70px;
  line-height: 1em;
}

#hud #level {
  float: right;
  margin: 20px 20px 0 0;
  font-size: 70px;
  line-height: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#flash {
  display: none;
  background: #fff;
}

canvas {
  display: block;
  margin-bottom: 1.5em;
  outline: 0;
}

#page {
  display: none;
  color: #eee;
}

#page h1 {
  color: #eee;
  font-size: 60px;
  line-height: 1em;
  text-shadow: none;
}

#page p {
  font-size: 16px;
  line-height: 22px;
}

#content {
  margin: 50px auto 0 auto;
  padding: 25px 25px 15px 25px;

  width: 800px;
  min-width: 300px;
  overflow: auto;

  background-color: #3d3d3d;

  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
